{% extends "layout.html" %}

{% block title %} Utilisateur {% endblock %}

{% block content %}

<div class="container m-0 p-0">
    <div class="container-fluid subtitle">Editer l'information de {{ user.full_name }} </div>
    <table class='table table-sm table-hovered table-bordered m-0'>
        <form action="{% url 'users:update_user' user.id %}" method="post">
            {% csrf_token %}
            <tbody>
                <tr>
                    <th>Nom: </th> <td><input type="text" name="full_name" value="{{ user.full_name }}" class="form-control required"></th>
                </tr>
                <tr>
                    <th>Nom d'utilisateur: </th> <td><input type="text" name="login" value="{{ user.login }}" class="form-control required"></th>
                </tr>
                <tr>
                    <th>Type de l'utilisateur: </th> 
                    <td>
                        <select name="type" class="form-control">
                            <option value="{{ user.type }}">{{ user.type }}</option>
                            <option value="user">Utilisateur</option>
                            <option value="administrator">Administrateur</option>
                        </select>
                    </th>
                </tr>                      
                <tr>
                    <td colspan="2"><button type="submit" class="btn btn-success pt-1 pr-2 pl-2 pb-1">Enregister</button> <a href="{% url 'users:show_user' user.id %}" class="btn btn-light pt-1 pr-2 pl-2 pb-1"> Annuler </a> </th> 
                </tr>
            </tbody>
        </form>
    </table>
</div>


{% endblock %}
