{% extends "layout.html" %}

{% block title %} Infos {% endblock %}

{% block content %}

<div class="container m-0 p-0">
    <div class="container-fluid subtitle">Information de {{ user.full_name }} </div>
    <table class='table table-sm table-hovered table-bordered m-0'>
        <tbody>
            <tr>
                <th>Nom: </th> <td>{{ user.full_name }}</th>
            </tr>
            <tr>
                <th>Nom d'utilisateur: </th> <td>{{ user.login }}</th>
            </tr>
            <tr>
                <th>Type: </th> <td>{{ user.type }}</th>
            </tr>
            <tr>
                <th>Administrateur: </th> <td>{{ user.administrator }}</th>
            </tr>
            <tr>
                <th>Date de création: </th> <td>{{ user.created_at }}</th>
            </tr>                        
            <tr>
                <th>Date de dérnière midification: </th> <td>{{ user.updated_at }}</th>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}
