{% extends "layout.html" %}

{% block title %} Utiliateur {% endblock %}

{% block content %}


<div class="container-fluid background" id="background">
    <button class="btn btn-danger pt-0 pl-2 pb-0 pr-2 mt-2" title="Fermer" id="close">X</button>
    <div class="container create">
        <div class="container-fluid subtitle"> Créer un nouveau utilisateur</div>
        <form action="{% url 'users:store_user' %}" class="form" method="post">
            {% csrf_token %}
            <table class="table table-bordered table-sm">
                <tr>
                    <td>Nom complet:</td><td><input type="text" name="full_name" class="form-control" placeholder="Votre nom complet" required></td>
                </tr>
                <tr>
                    <td>Nom d'utilisateur:</td><td><input type="text" name="login" class="form-control" placeholder="Votre nom d'utilisateur (login)" required></td>
                </tr>
                <tr>
                    <td>Type de l'utilisateur:</td>
                    <td>
                        <select name="type" class="form-control">
                            <option value="user">Utilisateur</option>
                            <option value="administrator">Administrateur</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Mot de passe: </td><td><input type="password" name="password" class="form-control" placeholder="Votre mot de passe (password)" required></td>
                </tr>
                <tr>
                    <td>Confirmer: </td><td><input type="password" name="confirm_password" class="form-control" placeholder="Confirmer le mot de passe" required></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit" class="btn btn-dark">Valider</button> <button type="reset" class="btn btn-warning">Réinitialiser</button></td>
                </tr>
            </table>

        </form>
    </div>
</div>

<div class="container m-0 p-0">
    <div class="container-fluid sublink">
        <a class="btn btn-light" title="Ajouter nouveau utilisateur" id="add"><i class="bi bi-person-plus-fill"></i> Ajouter utilisateur</a>
    </div>
    <div class="container-fluid subtitle">
        <div class="row">
            <div class="col-md-3">
                Liste utilisateur
            </div>
            <div class="col-md-9">
                <input type="search" class="form-control" placeholder="Taper votre recheche">
            </div>
        </div>
    </div>
    <table class='table table-sm table-hovered table-bordered m-0'>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Nom d'utilisateur</th>
                <th>Type</th>
                <th>Statut</th>
                <th>Admnistrateur</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            
            {% for user in users %}
            <tr>
                <td>{{ user.full_name }}</td>
                <td>{{ user.login }}</td>
                <td>
                    {% if user.type == 'administrator' %}
                        <i class="bi bi-person-badge"></i> Admin
                    {% elif user.type == 'user' %}
                        Utilisateur
                    {% endif %}
                </td>
                <td>
                    
                    {% if user.status == 1 %}
                        <i class="bi bi-person-check"></i> Actif
                    {% elif user.status == 0 %}
                        <span class="text-danger"><i class="bi bi-person-x-fill"></i></span> Bloqué
                    {% endif %}
                
                </td>
                <td>{{ user.administrator }}</td>
                <td>{{ user.created_at }}</td>
                <td class="text-center">
                    {% if user.status == 1 %}
                        <form action="{% url 'users:block_user' user.id %}" method="POST">
                    {% elif user.status == 0 %}
                        <form action="{% url 'users:unblock_user' user.id %}" method="POST">
                    {% endif %}
                        
                            {% csrf_token %}                        
                            <a href="{% url 'users:show_user' user.id %}" class="btn btn-light pt-0 pb-0 pl-1 pr-1" title="Voir"><i class="bi bi-person-lines-fill"></i></a>
                        
                        {% if user.status == 1 %}
                            <button type="submit" name="block" class="btn btn-warning pt-0 pb-0 pl-1 pr-1" title="Bloquer l'utilisateur" onclick="return confirm('Voulez-vous vraiment bloquer l\'utilisateur? ')"><i class="bi bi-person-x-fill"></i></button>
                        {% elif user.status == 0 %}
                            <button type="submit" name="unblock" class="btn btn-light pt-0 pb-0 pl-1 pr-1" title="Debloquer l'utilisateur"  onclick="return confirm('Voulez-vous vraiment debloquer l\'utilisateur? ')"><i class="bi bi-person-check-fill"></i></button>
                        {% endif %}
                            
                        </form>
                </td>
            </tr>

            {% empty %}
                <tr>
                    <td colspan="6">Pas d'utilisateur enregistré</td>
                </tr>
                
            {% endfor %}
                        
        </tbody>
    </table>
</div>


{% endblock %}
