{% extends "layout.html" %}

{% block title %} Annuaires {% endblock %}

{% load static %}

{% block createForm %} 
    <div class="container-fluid background" id="background">
        <div class="container create">
            <button class="btn btn-danger pt-0 pl-2 pb-0 pr-2 mt-2" title="Fermer" id="close">X</button>
            <div class="container-fluid form-title"> Ajouter un nouveau annuaire (Seuls les champs "notes" et "image" sont optionnels) </div>
            <form action="{% url 'directories:store_directory' %}" class="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-bordered table-sm">
                    <tr>
                        <td>Nom complet:</td><td><input type="text" name="full_name" class="form-control" placeholder="Votre nom complet"  /></td>
                        <td>Genre:</td>
                        <td>
                            <select name="gender" class="form-control">
                                <option value="man">Homme</option>
                                <option value="woman">Femme</option>
                                <option value="other">autre</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Date de naiss.:</td><td><input type="date" name="date_of_birth" class="form-control"  /></td>
                        <td>Lieu de naiss.:</td><td><input type="text" name="place_of_birth" class="form-control" placeholder="..."  /></td>
                    </tr>
                    <tr>
                        <td>C.I.N.:</td><td><input type="text" name="cin" class="form-control" placeholder="000.000.000.000"  /></td>
                        <td>Delivre le:</td><td><input type="date" name="delivered_on" class="form-control"  /></td>
                    </tr>
                    <tr>
                        <td>Delivre a:</td><td><input type="text" name="delivered_at" class="form-control" placeholder="..."  /></td>
                        <td>Email: </td><td><input type="email" name="email" class="form-control" placeholder="fullname@exemple.com" /></td>
                    </tr>
                    <tr>
                        <td>T&eacute;l&eacute;phone:</td><td><input type="number" name="phone" class="form-control" placeholder="032-23-234-23" /></td>
                        <td>Contact urgent:</td><td><input type="number" name="urgent_phone" class="form-control" placeholder="034-43-345-43"  /></td>
                    </tr>
                    <tr>
                        <td>Fonction:</td><td><input type="text" name="function" class="form-control" placeholder="ex: Directeur Systeme d'Information (DSI)"  /></td>  
                        <td>Departement:</td><td><input type="text" name="departement" class="form-control" placeholder="ex: Departement informatique (DI/IT)"  /></td>
                    </tr>
                    <tr>
                        <td>Matricule:</td><td><input type="text" name="matricule_number" class="form-control" placeholder="..."  /></td>
                        <td>Image: </td> <td><input type="file" name="avatar" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>Adresse: </td><td><textarea name="address" class="form-control" placeholder="Adresse postale" ></textarea></td>
                        <td>Notes: </td><td><textarea name="notes" class="form-control" placeholder="Notes sur l'annuaire"></textarea></td>
                    </tr>
                    <tr>
                        <td>Date de service: </td><td><input type="date" name="date_of_service" class="form-control"  /></td>
                        <td>Date fin de service: </td><td><input type="date" name="end_of_service" class="form-control"  /></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-center" ><button type="submit" class="btn btn-option-submit">Valider</button> <button type="reset" class="btn btn-option-submit">Réinitialiser</button></td>
                    </tr>
                </table>

            </form>
        </div>
    </div>
{% endblock %} 

{% block content %}


<div class="container m-0 p-0">
    <div class="container-fluid sublink">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 p-0">
                <a class="btn btn-option" id="add"><i class="bi bi-person-plus-fill"></i> &nbsp; Ajouter nouveau</a>
                <a href="{% url 'material:reporting_material' %}" class="btn btn-option"><i class="bi bi-clipboard-data"></i> Reportings</a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 p-0">
                <input type="search" class="form-control input-search" placeholder="Taper votre recheche">
            </div>
        </div>
    </div>
    <div class="container-fluid subtitle">
        <i class="bi bi-list-ul"></i>&nbsp; Liste des annuaires
    </div>
    <div class="container-fluid lists p-0">
        <table class='table table-sm table-hovered table-bordered table-list m-0'>
            <thead>
                <tr>
                    <th></th>
                    <th>Nom complet</th>
                    <th>Genre</th>
                    <th>Contact Rapide</th>
                    <th>E-mail</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
                
                {% for directory in directories %}
    
                    <tr>
                        <th width="34" class="text-center"><img src="/static/public/img/{{ directory.avatar }}" title="{{ directory.full_name }}" width="30" height="30"></th>
                        <td>{{ directory.full_name }}</td>
                        <td>
                            {% if directory.gender == 'man' %}
                                <span class="fa fa-male"></span> {{ directory.get_gender_display }}
                            {% elif directory.gender == 'woman' %}
                                <span class="fa fa-femele"></span> {{ directory.get_gender_display }}
                            {% elif directory.gender == 'other' %}
                                <span class="fa fa-male"></span>{{ directory.get_gender_display }}<span class="fa fa-femele"></span>
                            {% else %}
                                {ErrorService}
                            {% endif %}
                        </td>
                        <td>{{ directory.urgent_phone }}</td>
                        <td>{{ directory.email }}</td>
                        <td>
                            {% if directory.state == 1 %}
                            <span class="text-success">{{ directory.get_state_display }}</span>
                            {% elif directory.state == 2 %}
                            <span class="text-warning">{{ directory.get_state_display }}</span>
                            {% elif directory.state == 3 %}
                            <span class="text-warning">{{ directory.get_state_display }}</span>
                            {% elif directory.state == 4 %}
                            <span class="text-danger">{{ directory.get_state_display }}</span>
                            {% elif directory.state == 0 %}
                            <span class="text-danger text-bold">{{ directory.get_state_display }}</span>
                            {% else %}
                            <span class="text-dark">{ErrorService}</span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{% url 'directories:show_directory' directory.id %}" class="btn btn-light pt-0 pb-0 pl-1 pr-1" title="Voir"><i class="bi bi-person-lines-fill"></i></a>
                        </td>
                    </tr>
    
                {% empty %}
                    <tr>
                        <td colspan="5">Pas de'annuaire inscrit</td>
                    </tr>
                    
                {% endfor %}
                    
                
                            
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
