* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background-color:#eeeeee;
}
div.header {
    border-radius: 15px;
    background-color: white;
}

div.content {
    background-color: white;
    border-radius: 15px;
}
.row {
    padding: 0px;
    margin: 0px;
}
div.subtitle {
    color: #1C1D64;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 0px 15px 0px;
    background-color: white;
}

div.sublink {
    border-radius: 10px;
    margin-bottom: 2px;
    padding: 5px;
    background-color: #f0f0f0;
    box-shadow: 0 0 4px rgba(110, 110, 110, 0.6);
}
div.sublink a {
    font-size: 14px;
}
ul.leftmenu {
    padding: 0px;
    margin: 0;
    background-color: #1C1D64;
    box-shadow: 0 0 1.2em rgba(28, 29, 100, .7);
}

ul.leftmenu li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

ul.leftmenu li a.menuoption {
    padding: 5px 5px 5px 20px;
    margin: 0px;
    color: #ffffff;
    width: 100%;
    display: block;
    text-decoration: none;
    font-weight: bolder;
    font-size: 16px;
}

ul.leftmenu li a.menuoption:hover {
    background-color: rgba(144, 146, 248, 0.418);
    /* color: #1C1D64; */
    transition: background-color 0.2s ease-in;
    color: white;
}

/* ul.leftmenu li a.menuoption::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:#ffffff;
    transition: width .3s;
}

ul.leftmenu li a.menuoption:hover::after {
    color: rgb(255, 255, 255);
    width: 100%;
    transition: width .3s;
} */

ul.leftmenu li a.useroption{
    margin: 0px;
    color: #ffffff;
    width: 100%;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

.background {
    position: fixed;
    display: none;
    z-index: 1000;
    top: 0;
    right: 0;
    height: 100%;
    background-color: rgba(100, 100, 100, .3);
}

.create {
    background-color: whitesmoke;
    margin-top: 30px;
    left: 0;
    right: 0;
    padding: 5px;
    width: 70%;
    box-shadow: 0px 0px 2em  rgba(54, 54, 54, 0.3);
    border-radius: 5px;
}

.form-title {
    padding: 5px;
    color: #1C1D64;
    font-weight: bolder;
    background-color: white;
}

.create table {
    margin: 0;
    padding: 0;
}

tr.old_field {
    display: none;
}

.lists {
    max-height: 500px;
    overflow: auto;
    box-shadow: 0 0 4px rgba(145, 144, 144, .4);
    border-radius: 10px;
}
.table-list {
    border-radius: 15px;
    margin: 0;
    color:  #1C1D64;
}

.btn {
    box-shadow: 0 0 3px rgba(100, 100, 100, .3);
}

.input-search {
    border-radius: 10px;
}

#close {
    top: -25px;
    left: -20px;
    position: relative;
}

.account-option a {
    color: #1C1D64;
    font-size: 18px;
    font-weight: bolder;
    padding: 9px 12px 9px 12px;
    border-radius: 20px;
}

.account-option a:hover {
    background-color: rgba(144, 146, 248, 0.418);
    transition: background-color 0.3s linear;
}

.account-option a:last-child:hover {
    background-color: #E74C3C;
    color: white;
    transition: background-color 0.3s linear;
}

.btn-option {
    background-color: #E74C3C;
    border-radius: 5px;
    color: white;
}

.btn-option-submit {
    background-color: #fc897ce0;
    border-radius: 5px;
    color: rgb(28, 29, 100,);
    padding: 5px 10px 5px 10px;
    width: 150px;
}

.btn-option-submit:hover {
    background-color:#E74C3C;
    color: white;
    box-shadow: 0 0 1em rgba(255, 124, 124, 0.7);
}

.btn-option:hover {
    box-shadow: 0 0 1em rgba(250, 68, 68, 0.6);
    color: white;
    background-color: #ce3b2a;
}