{% extends 'layout.html' %}


{% block title %} Materials {% endblock %}
    

{% block content %}

<div class="container-fluid m-0 p-0">
    <div class="container-fluid sublink">
        <a href="{% url 'material:history_material' %}" class="btn btn-light history"><i class="bi bi-clock-history"></i> Historique</a>
        <a class="btn btn-light" id="add"><i class="bi bi-box-arrow-in-right"></i> Entré matériel</a>
        <a href="{% url 'material:get_takeout_material' %}" class="btn btn-light"><i class="bi bi-box-arrow-right"></i> Sortie matériel</a>
    </div>
    <div class="container-fluid subtitle">
        <div class="row">
            <div class="col-md-3">
                Liste matériel
            </div>
            <div class="col-md-9">
                <input type="search" class="form-control" placeholder="Taper votre recheche">
            </div>
        </div>
    </div>
    <div class="container-fluid p-0 m-0 lists">
        <table class='table table-sm table-hovered table-bordered m-0 table-list'>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Quantité</th>
                    <th>Unité</th>
                    <th>Admnistrateur</th>
                    <th>Date d'entré</th>
                </tr>
            </thead>
            <tbody>
                
                    
                
                            
            </tbody>
        </table>
    </div>
</div>
    
{% endblock %}
    