{% extends "layout.html" %}

{% block title %} Utiliateur {% endblock %}

{% block createForm %} 
    <div class="container-fluid background" id="background">
        <div class="container create">
            <button class="btn btn-danger pt-0 pl-2 pb-0 pr-2 mt-2" title="Fermer" id="close">X</button>
            <div class="container-fluid form-title"> <i class="bi bi-person-plus"></i>&nbsp; Créer un nouveau utilisateur</div>
            <form action="{% url 'users:store_user' %}" class="form" method="post">
                {% csrf_token %}
                <table class="table table-bordered table-sm">
                    <tr>
                        <td>Nom complet:</td>
                        <td>
                            <select name="directory_id" class="form-control" required>
                                <option></option>
                                {% for d in directories %}
                                    <option value="{{ d.id }}">{{ d.full_name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Nom d'utilisateur:</td>
                        <td>
                            <input type="text" id='login' name="login" class="form-control" placeholder="Votre nom d'utilisateur" required>
                            <span class="login_error_message text-danger">Login must between 8 and 15 character (no specials chars like '@/\)(&%$#!'"')</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Type de l'utilisateur:</td>
                        <td>
                            <select name="types" class="form-control">
                                <option value="user">Standard User</option>
                                <option value="administrator">Administrator User</option>
                                <option value="super_user">Super Administrator User</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Mot de passe: </td>
                        <td>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Votre mot de passe" required>
                            <span class="password_error_message text-danger">Password can not contains your login</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Confirmer: </td>
                        <td>
                            <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirmer le mot de passe" required>
                            <span class="confirm_password_error_message text-danger">Password not same</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center"><button type="submit" id="submit-form" class="btn btn-option-submit">Valider</button> <button type="reset" class="btn btn-option-submit">Réinitialiser</button></td>
                    </tr>
                </table>

            </form>
        </div>
    </div>
{% endblock %} 

{% block content %}

<div class="container m-0 p-0">

    <div class="container-fluid sublink">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 p-0">
                <a class="btn btn-option" title="Ajouter nouveau utilisateur" id="add"><i class="bi bi-person-plus-fill"></i></a>
                <a href="{% url 'users:history_session' %}" class="btn btn-option" title="Voir historique de connexion" id="add"><i class="bi bi-clock"></i></a>
            </div>
            
            <div class="col-sm-6 col-md-6 col-lg-6 p-0">
                <input type="search" class="form-control input-search" placeholder="Taper votre recheche">
            </div>
        </div>
    </div>

    <div class="container-fluid subtitle">
        <i class="bi bi-list-ul"></i> &nbsp;Liste des utilisateurs
    </div>
    <div class="container-fluid lists p-0">
        <table class='table table-sm table-hovered table-bordered m-0 table-list'>
            <thead>
                <tr>
                    <th>Nom complet</th>
                    <th>Nom d'utilisateur</th>
                    <th>Type</th>
                    <th>Statut</th>
                    <th>Admnistrateur</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                
                {% for user in users %}
                <tr>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.login }}</td>
                    <td>
                        {% if user.types == 'administrator' %}
                            <i class="bi bi-person-badge"></i> Administrator User
                        {% elif user.types == 'super_user' %}
                            <i class="bi bi-person-badge"></i> Super Administrator User
                        {% elif user.types == 'user' %}
                            Standard User
                        {% endif %}
                    </td>
                    <td>
                        
                        {% if user.status == 1 %}
                            <span class="text-success"><i class="bi bi-person-check"></i></span> Actif
                        {% elif user.status == 0 %}
                            <span class="text-danger"><i class="bi bi-person-x-fill"></i></span> Bloqué
                        {% endif %}
                    
                    </td>
                    <td>{{ user.administrator }}</td>
                    <td>{{ user.created_at }}</td>
                    <td class="text-center">
                        {% if user.status == 1 %}
                            <form action="{% url 'users:block_user' user.id %}" method="POST">
                        {% elif user.status == 0 %}
                            <form action="{% url 'users:unblock_user' user.id %}" method="POST">
                        {% endif %}
                            
                                {% csrf_token %}                        
                                <a href="{% url 'users:show_user' user.id %}" class="btn btn-light pt-0 pb-0 pl-1 pr-1" title="Voir"><i class="bi bi-person-lines-fill"></i></a>
                            
                            {% if user.status == 1 %}
                                <button type="submit" name="block" class="btn btn-warning pt-0 pb-0 pl-1 pr-1" title="Bloquer l'utilisateur" onclick="return confirm('Voulez-vous vraiment bloquer l\'utilisateur? ')"><i class="bi bi-person-x-fill"></i></button>
                            {% elif user.status == 0 %}
                                <button type="submit" name="unblock" class="btn btn-light pt-0 pb-0 pl-1 pr-1" title="Debloquer l'utilisateur"  onclick="return confirm('Voulez-vous vraiment debloquer l\'utilisateur? ')"><i class="bi bi-person-check-fill"></i></button>
                            {% endif %}
                                
                            </form>
                    </td>
                </tr>
    
                {% empty %}
                    <tr>
                        <td colspan="6">Pas d'utilisateur enregistré</td>
                    </tr>
                    
                {% endfor %}

                
            </tbody>
        </table>
    </div>

</div>


{% endblock %}

{% block javascript %} 
    <script>
        $(document).ready(function(){

            let login = $('#login');
            let password = $('#password');
            let confirm_password = $('#confirm_password');

            login.blur(function() {

                checkLogin = login.val().search(/[()-_\\|=+#@!*&%$ ~?{}/<>,:;'\"\[\]]/);

                if (parseInt(checkLogin) >= 0) {
                    $('.login_error_message').css({'display':'block'});
                    $('#login').css({'border':'2px solid red'});
                }

                if (login.val().length < 8 && login.val() !== '') {
                    $('.login_error_message').css({'display':'block'});
                    $('#login').css({'border':'2px solid red'});
                } 

                if (login.val().length > 8 && login.val() !== '') {
                    $('.login_error_message').css({'display':'none'});
                    $('#login').css({'border':'2px solid green'});
                }
                
            });

            password.blur(function() {
                
                if (password.val().length < 8 && password.val() !== '' && login.val() !== '') {
                    $('.password_error_message').css({'display':'block'});
                    $('#password').css({'border':'2px solid red'});
                }

                if (password.val().length > 8 && password.val() !== '') {
                    $('.password_error_message').css({'display':'none'});
                    $('#password').css({'border':'2px solid green'});
                }
                
            });

            confirm_password.blur(function() {
                
                if (password.val() !== confirm_password.val()) {
                    $('.confirm_password_error_message').css({'display':'block'});
                    $('#confirm_password').css({'border':'2px solid red'})
                }
                
                if (password.val() === confirm_password.val() && confirm_password.val() !== '') {
                    $('.confirm_password_error_message').css({'display':'none'});
                    $('#confirm_password').css({'border':'2px solid green'});
                }
                
            });

            $('#submit-form').click(function(){

                if (login.val() === '' || password.val() === '' || (password.val() !== confirm_password.val())) {
                    alert('Please check all required fields!');
                    return false;
                } else {
                    return true;
                }
            })
        });
    </script>
{% endblock %}