{% extends "layout.html" %}

{% block title %} Utilisateur {% endblock %}

{% block content %}

<div class="container m-0 p-0">
    <div class="container-fluid sublink">
        <form action="{% url 'users:delete_user' user.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-option" onclick="return confirm('Voulez-vous vraiment supprimer l\'utilisateur? ')"><i class="bi bi-person-dash-fill" title="Supprimer l'utilisateur"></i></button> <a href="{% url 'users:edit_user' user.id %}" class="btn btn-light" title="Modifier"><i class="bi bi-pencil-square"></i></a>
        </form>
    </div>
    <div class="container-fluid subtitle">Information de {{ user.full_name }} </div>
    <table class='table table-sm table-hovered table-bordered m-0'>
        <tbody>
            <tr>
                <th>Nom: </th> <td>{{ user.full_name }}</th>
            </tr>
            <tr>
                <th>Nom d'utilisateur: </th> <td>{{ user.login }}</th>
            </tr>
            <tr>
                <th>Type: </th> 
                <td>
                    {{ user.get_types_display }}
                </th>
            </tr>
            <tr>
                <th>Administrateur: </th> <td>{{ user.administrator }}</th>
            </tr>
            <tr>
                <th>Date de création: </th> <td>{{ user.created_at }}</th>
            </tr>                        
            <tr>
                <th>Date de dérnière midification: </th> <td>{{ user.updated_at }}</th>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}
