{% extends "layout.html" %}

{% block title %} Utilisateur {% endblock %}

{% block content %}


<div class="container m-0 p-0">
    <div class="container-fluid sublink">            
        <form action="{% url 'users:delete_user' user.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-option" onclick="return confirm('Voulez-vous vraiment supprimer l\'utilisateur? ')" data-toggle="tooltip" data-placement="top" title="Supprimer l'utilisateur"><i class="bi bi-person-dash-fill"></i></button> 
            <a href="{% url 'users:edit_user' user.id %}" class="btn btn-light btn-other" data-toggle="tooltip" data-placement="right" title="Modifier les parametres"><i class="bi bi-sliders"></i></a>
        </form>
    </div>
    <div class="container-fluid subtitle"><a href="{% url 'users:user_home' %}" class="btn btn-light btn-other"  data-toggle="tooltip" data-placement="left" title="Retour"> <i class="bi bi-arrow-left"></i></a> &nbsp; Information de {{ user.full_name }} </div>
    <table class='table table-sm table-hovered table-bordered m-0'>
        <tbody>
            <tr>
                <th width="200">Nom complet: </th> <td>{{ user.full_name }}</th>
            </tr>
            <tr>
                <th>Nom d'utilisateur: </th> <td>{{ user.login }}</th>
            </tr>
            <tr>
                <th>Type: </th> 
                <td>
                    {{ user.get_types_display }}
                </th>
            </tr>
            <tr>
                <th>Administrateur: </th> <td>{{ user.administrator }}</th>
            </tr>
            <tr>
                <th>Status: </th> 
                <td>
                    {% if user.status == 1 %}
                        <span class="text-success"><i class="bi bi-person-check"></i></span> Actif
                    {% elif user.status == 0 %}
                        <span class="text-danger"><i class="bi bi-person-x-fill"></i></span> Bloqué
                    {% endif %}
                </th>
            </tr>
            <tr>
                <th>Date de création: </th> <td>{{ user.created_at }} ({{ user.created_at|timesince }})</th>
            </tr>                        
            <tr>
                <th>Date de dérnière midification: </th> <td>{{ user.updated_at }} ({{ user.updated_at|timesince }})</th>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}
