{% extends "layout.html" %}
{% block title %} Computers {% endblock %}
{% block content %}

<div class="container-fluid p-0">
    <div class="container-fluid subtitle"> Modifier l'information sur {{ computer.name }}</div>
    <table class="table table-sm table-bordered m-0">
        <form action="{% url 'computers:update_computer' computer.id %}" method="post">
            {% csrf_token %}
            <tr>
                <th width="200">Nom :</th><td><input type="text" name="name" class="form-control" value="{{ computer.name }}"/> </td>
                <th>Marque :</th><td><input type="text" name="mark" class="form-control" value="{{ computer.mark }}"/></td>
            </tr>
            <tr>
                <th>Numero de serie :</th><td><input type="text" name="serial_number" class="form-control" value="{{ computer.serial_number }}"/> </td> <th>Modele :</th><td><input type="text" name="modele" class="form-control" value="{{ computer.serial_number }}"/> </td>
            </tr>
            <tr>
                <th>Etat :</th>
                <td>
                    <select name="state" class="form-control">
                        <option value="{{ computer.state }}">{{ computer.get_state_display }}</option>
                        <option value="new">Nouveau</option>
                        <option value="old">Ancien</option>
    \               </select>
                </td>
                <th>Statut :</th>
                <td>
                    <select name="status" class="form-control">
                        <option value="{{ computer.status }}">{{ computer.get_status_display }}</option>
                        <option value="assigned">Attribu&eacute;</option>
                        <option value="not_assigned">Non attribu&eacute;</option>
                        <option value="on_suspens">En suspens</option>
                        <option value="out_of_service">Hors service</option>
                    </select>
                </td>
                
            </tr>
            <tr>
                <th>Processeur :</th><td><input type="text" name="processor" class="form-control" value="{{ computer.processor }}"/></td>
                <th>Gen.:</th><td><input type="text" name="processor_generation" class="form-control" value="{{ computer.processor_generation }}"/></td>
            </tr>
            <tr>
                <th>RAM :</th><td><input type="number" name="ram" class="form-control" value="{{ computer.ram }}"/></td>
                <th>Type</th><td><input type="text" name="type_of_ram" class="form-control" value="{{ computer.type_of_ram }}"/></td>
            </tr>
            <tr>
                <th>OS :</th><td><input type="text" name="os" class="form-control" value="{{ computer.os }}"/></td>
                <th>Attribu&eacute; &agrave; :</th>
                <td>
                    <select name="assigned_to" class="form-control">
                        <option value="{{ computer.assigned_to }}">{{ computer.assigned_to }}</option>
                        <option value=""></option>
                        {% for directory in directories %}
                            <option value="{{ directory.full_name }}">{{ directory.full_name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Description :</th><td><textarea class="form-control" name="description">{{ computer.description }}</textarea></td>
                <th>Cat&eacute;gorie :</th>
                <td>
                    <select name="category" class="form-control">
                        <option value="{{ computer.category }}">{{ computer.get_category_display }}</option>
                        <option value="laptop">Laptop</option>
                        <option value="desktop">Desktop</option>
                        <option value="mbp">Macbook pro</option>
                        <option value="mbp_retina">Macbook pro retina</option>
                        <option value="notebook">Notebook</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Fournisseur :</th><td><input type="text" name="fournissor" class="form-control" value="{{ computer.fournissor }}"/></td>
                <th>Contact :</th><td><input type="number" name="fournissor_contact" class="form-control" value="{{ computer.fournissor_contact }}"/></td>
            </tr>
            <tr><td colspan="4" class="text-center"><button class="btn btn-option-submit">Enregistrer</button> <a href="{% url 'computers:computer_home' %}" class="btn btn-option-submit">Annuler</a></td></tr>
        </form>
    </table>
</div>

{% endblock %}