{% extends 'layout.html' %}

{% block title %} Historiques {% endblock %}

{% block content %}
    <div class="container-fluid sublink">
        <table>
            <tr>
                <td width="300">
                    <input type="search" name="" placeholder="Taper votre recherche" class="form-control">
                </td>
                <td>
                    <input type="date" name="" class="form-control"> 
                </td>    
                <td>
                    <input type="date" name="" class="form-control">
                </td>
                <td>
                    <select name="" class="form-control">
                        <option value="">a-z</option>
                        <option value="">z-a</option>
                    </select>
                </td>
                <td>
                    <select name="" class="form-control">
                        <option value="">Entrée</option>
                        <option value="">Sortie</option>
                    </select>
                </td>
                <td>
                    <select name="" class="form-control">
                        <option value="">Superadmin</option>
                        <option value="">Admin</option>
                    </select>
                </td>
                <td>
                    <button class="btn btn-option"><i class="bi bi-search"></i></button>
                </td>
                
            </tr>
        </table>

    </div>
    <div class="container-fluid subtitle"><a href="{% url 'computers:computer_home' %}" class="btn btn-light btn-other"> <i class="bi bi-arrow-left"></i></a> &nbsp; Historiques des mouvements</div>
    <div class="container-fluid p-0 lists">
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>Nom de l'ordinateur</th>
                    <th>Attribu&eacute; &agrave;</th>
                    <th>Attribu&eacute; par</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for allocation in allocations %}
                    <tr>
                        <td>{{allocation.name}}</td>
                        <td>{{allocation.assigned_to}}</td>
                        <td>{{allocation.assigned_by}}</td>
                        <td>{{allocation.created_at}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}