{% extends "layout.html" %}
{% block title %} Computers {% endblock %}
{% block content %}

<div class="container-fluid p-0">
    <div class="container-fluid subtitle p-2"> <a href="{% url 'computers:computer_home' %}" class="btn btn-light btn-other"> <i class="bi bi-arrow-left"></i></a> &nbsp; Information sur {{ computer.name }}</div>
    <table class="table table-sm table-bordered m-0">
        <tr>
            <th width="200">Nom :</th><td>{{ computer.name }}</td>
        </tr>
        <tr>
            <th>Numero de serie :</th><td>{{ computer.serial_number }} - Modele : {{ computer.modele }}</td>
        </tr>
        <tr>
            <th>Etat :</th><td>{{ computer.get_state_display }}</td>
        </tr>
        <tr>
            <th>Statut :</th><td>{{ computer.get_status_display }}</td>
        </tr>
        <tr>
            <th>Marque :</th><td>{{ computer.mark }}</td>
        </tr>
        <tr>
            <th>OS :</th><td>{{ computer.os }}</td>
        </tr>
        <tr>
            <th>Cat&eacute;gorie :</th><td>{{ computer.get_category_display }}</td>
        </tr>
        <tr>
            <th>RAM :</th><td>{{ computer.ram }} Go - {{ computer.type_of_ram }}</td>
        </tr>
        <tr>
            <th>Processeur :</th><td>{{ computer.processor }} - {{ computer.processor_generation }}</td>
        </tr>
        <tr>
            <th>Fournisseur :</th><td>{{ computer.fournissor }} - Contact : {{ computer.fournissor_contact }}</td>
        </tr>
        <tr>
            <th>Description :</th><td>{{ computer.description }}</td>
        </tr>
        <tr>
            <th>Attribu&eacute; &agrave; :</th><td>
                {% if computer.assigned_to == None or computer.assigned_to == '' %}
                -
                {% else %}
                    {{ computer.assigned_to }}
                {% endif %}
                le 
                {% if computer.assigned_at == None and computer.assigned_to == None %}
                -
                {% elif computer.assigned_at == None or computer.assigned_to == '' %}
                -
                {% else %}
                    {{ computer.assigned_at }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Date d'ajout: </th><td>{{ computer.created_at }} par <i class="bi bi-person-fill"></i>{{ computer.administrator }}</td>
        </tr>
        <tr>
            <th>Date de derni&egrave;re modification: </th><td>{{ computer.updated_at }}</td>
        </tr>
    </table>
</div>

{% endblock %}