{% extends "layout.html" %}

{% block title %} Infos {% endblock %}

{% block content %}

<div class="container m-0 p-0">
    <div class="container-fluid subtitle">Editer l'information de {{ material.title }} </div>
    <table class='table table-sm table-hovered table-bordered m-0'>
        <form action="{% url 'material:update_material' material.id %}" method="post">
            {% csrf_token %}
            <tbody>
                <tr>
                    <th>Nom du produit: </th>
                    <td colspan="2"><input type="text" name="title" value="{{ material.title }}" class="form-control" /></th>
                </tr>
                <tr>
                    <th>Numero de serie: </th>
                    <td colspan="2"><input type="text" name="serial_number" value="{{ material.serial_number }}" class="form-control" /></th>
                </tr>
                <tr>
                    <th>Modele: </th>
                    <td colspan="2"><input type="text" name="modele" value="{{ material.modele }}" class="form-control" /></th>
                </tr>
                <tr>
                    <th>Description: </th>
                    <td colspan="2"><textarea name="description" class="form-control">{{ material.description }}</textarea></th>
                </tr>
                <tr>
                    <th>Quantite: </th>
                    <td><input type="number"name="quantity" value="{{ material.quantity }}" class="form-control" /></th>
                    <td>
                        <select name="unity" class="form-control">
                            <option value="{{ material.unity }} ">{{ material.get_unity_display }} </option>
                            <option value="pcs">Pièce</option>
                            <option value="cartoon">Carton</option>
                            <option value="box">Boite</option>
                            <option value="kg">Kg</option>
                            <option value="g">Gramme</option>
                            <option value="L">Litre</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Etat: </th>
                    <td colspan="2">
                        <select name="state" class="form-control">
                            <option value="{{ material.state }}">{{ material.get_state_display }}</option>
                            <option value="new">Nouveau</option>
                            <option value="occasion">Occasion</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Fournisseur: </th>
                    <td colspan="2"><input type="text" name="fournissor" value="{{ material.fournissor }}" class="form-control" /></th>
                </tr>
                <tr>
                    <th>Fournisseur contact: </th>
                    <td colspan="2"><input type="text" name="fournissor_contact" value="{{ material.fournissor_contact }}" class="form-control" /></th>
                </tr>
                
                <tr>
                    <th colspan="3" class="text-center">
                        <button class="btn btn-option-submit">Enregistrer</button> 
                        <a href="{% url 'material:material_home' %}" class="btn btn-option-submit">Annuler</a>
                    </th>
                </tr>
            </tbody>
        </form>
    </table>
</div>


{% endblock %}