{% extends 'layout.html' %}

{% block title %} Materiels {% endblock %}

{% block content %}
    <div class="container-fluid subtitle"><a href="{% url 'materials:material_home' %}" class="btn btn-light btn-other"> <i class="bi bi-arrow-left"></i></a> &nbsp; Sortir un matériel</div>
    <form action="{% url 'materials:post_takeout_material' %}" class="form" method="post">
        {% csrf_token %}
        <table class="table table-bordered table-sm">
                
            <tr>
                <td>Materiel:</td>
                <td>
                    <select name="material" class="form-control" required>
                        <option value="">-----Choisissez-----</option>
                        {% for material in materials %}
                            <option value="{{ material.id }}">{{ material.title }}</option>                                
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Notes:</td>
                <td>
                    <textarea name="note" cols="30" class="form-control"></textarea>
                </td>
            </tr>
            <tr>
                <td>Quantité:</td><td><input type="number" name="quantity" class="form-control" placeholder="Nombre du matériel" required></td>
            </tr>
            <tr>
                <td>Unité:</td>
                <td>
                    <select name="unity" class="form-control">
                        <option value="pcs">Pièce</option>
                        <option value="cartoon">Carton</option>
                        <option value="box">Boite</option>
                        <option value="kg">Kg</option>
                        <option value="g">Gramme</option>
                        <option value="L">Litre</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Etat du matériel:</td>
                <td>
                    <select name="state" class="form-control">
                        <option value="new">Nouveau</option>
                        <option value="old">Ancien</option>
                        <option value="hs">Hors service</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-center"><button type="submit" class="btn btn-option-submit">Valider</button> <a href="{% url 'materials:material_home' %}" class="btn btn-light btn-option-submit"> Annuler </a></td>
            </tr>
        </table>

    </form>
{% endblock content %}
    