<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gstock - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/public/css/app.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>

    
    {% block createForm %} {% endblock %} 

    <div class="container-fluid p-0 m-0">
        <div class="row p-0 m-0">
            <div class="col-md-2 m-0 p-0">
                <ul class="leftmenu">
                    <li><a href="#" class="useroption h4"><i class="bi bi-app-indicator"></i> &nbsp; GStock</a></li>
                    <hr>
                    <li><a href="{% url 'users:user_home' %}" class="menuoption"><i class="bi bi-people"></i>&nbsp; Utilisateurs</a></li>
                    <li><a href="{% url 'directories:directory_home' %}" class="menuoption"><i class="bi bi-diagram-3-fill"></i>&nbsp; Annuaires</a></li>
                    <li><a href="{% url 'material:material_home' %}" class="menuoption"><i class="bi bi-stack"></i>&nbsp; Materiels</a></li>
                    <li><a href="{% url 'computers:computer_home' %}" class="menuoption"><i class="bi bi-laptop"></i>&nbsp; Ordinateurs</a></li>
                    <li><a href="{% url 'absences:absence_home' %}" class="menuoption"><i class="bi bi-calendar-week"></i>&nbsp; Absences</a></li>
                </ul>
            </div>
            <div class="col-md-10 p-3 m-0 p-0">
                <header class="container-fluid p-0 mb-2">
                    <div class="container-fluid text-white p-2 header text-right">
                        <div class="container account-option">
                            <a href=""><i class="bi bi-person"></i></a> &nbsp;
                            <a href=""><i class="bi bi-sliders"></i></a> &nbsp;
                            <a href=""><i class="bi bi-bell"></i></a> &nbsp;
                            <a href=""><i class="bi bi-power"></i></a>
                        </div>
                    </div>
                </header>
                <div class="container-fluid p-2 content">
                    {% block content %} {% endblock %} 
                </div>
            </div>
        </div>
    </div>

    {% block footer %} {% endblock %}

    <footer>
        <script src="/static/public/js/jquery3-5-1.min.js"></script>
        <script src="/static/public/js/bootstrap4-5-2.min.js"></script>
        <script src="/static/public/js/chartjs2-8.js"></script>
        <script src="/static/public/js/app.js"></script>
    </footer>
</body>
</html>