<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Jacaranda</title>
    
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/jaca-icon-orange-72x72.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    {% block stylesheets %}{% endblock %}
</head>
<body>

    
    {% block createForm %} {% endblock %} 

    <div class="container-fluid p-0 m-0">
        <div class="row p-0 m-0">
            <div class="col-md-2 m-0 p-0">
                <!-- LEFT MENU -->
                <ul class="leftmenu">
                    <li><a href="#" class="useroption h4"><img src="{% static 'img/jaca-icon-orange-72x72.png' %}" width="32" height="32">&nbsp; Jacaranda</a></li>
                    {% if current_user_type == 'administrator' or current_user_type == 'super_user' %}
                    <li><a href="{% url 'users:user_home' %}" class="menuoption" data-toggle="tooltip" data-placement="right" title="Liste des utilisateurs"><i class="bi bi-people"></i>&nbsp; &nbsp; Utilisateurs</a></li>
                    {% endif %}
                    <li><a href="{% url 'directories:directory_home' %}" class="menuoption" data-toggle="tooltip" data-placement="right" title="Liste des annuaires (Staff)"><i class="bi bi-diagram-3-fill"></i>&nbsp; &nbsp; Annuaires</a></li>
                    <li><a href="{% url 'materials:material_home' %}" class="menuoption" data-toggle="tooltip" data-placement="right" title="Liste des materiels"><i class="bi bi-stack"></i>&nbsp; &nbsp; Materiels</a></li>
                    <li><a href="{% url 'computers:computer_home' %}" class="menuoption" data-toggle="tooltip" data-placement="right" title="Liste des ordinateurs"><i class="bi bi-laptop"></i>&nbsp; &nbsp; Ordinateurs</a></li>
                    <li><a href="{% url 'absences:absence_home' %}" class="menuoption" data-toggle="tooltip" data-placement="right" title="Liste des absences"><i class="bi bi-calendar-week"></i>&nbsp; &nbsp; Absences</a></li>
                    <!-- <li><a href="#" class="menuoption"><i class="bi bi-clock"></i>&nbsp; &nbsp; Historiques <i class="bi bi-exclamation-triangle-fill" title="Cette fonctionnalite n'est pas encore disponible ou en cours de developpement"></i></a></li> -->
                    <!-- <li><a href="#" class="menuoption"><i class="bi bi-file-earmark-zip-fill"></i>&nbsp; &nbsp; Archives  <i class="bi bi-exclamation-triangle-fill" title="Cette fonctionnalite n'est pas encore disponible ou en cours de developpement"></i></a></li> -->
                </ul>
            </div>
            <div class="col-md-10 p-2 m-0 p-0">
                <!-- TOP MENU -->
                <header class="container-fluid p-0 mb-2 mt-0">
                    <div class="container-fluid text-white p-2 header text-right">
                        <div class="container account-option">
                            <form action="{% url 'users:post_logout_user' %}" method="POST">
                                {% csrf_token %}
                                <a title="{{ current_user_login }}" data-toggle="tooltip" data-placement="top" title="{{ current_user_login }}">{{ current_user_initial|upper }}</a> &nbsp;
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Les notifications"><i class="bi bi-bell"></i></a> &nbsp;
                                <button class="btn" data-toggle="tooltip" data-placement="top" title="Se deconnecter"><i class="bi bi-power"></i></button>
                            </form>
                        </div>
                    </div>
                </header>
                <!-- MESSAGE FLASH -->
                <div class="container w-50 text-center">
                    {% block messageflash %}

                        {% if messages %}

                            {% for message in messages %}

                                {% if message.tags == 'error' %}
                                    <div class="alert alert-danger text-center alert-dismissible fade show" role="alert"> 
                                        <label><i class="bi bi-exclamation-triangle-fill"></i></label>&nbsp; {{ message }} 
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% elif message.tags == 'success' %}
                                    <div class="alert alert-success text-center alert-dismissible fade show" role="alert"> 
                                        <label><i class="bi bi-check-circle-fill"></i></label>&nbsp; {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% elif message.tags == 'warning' %}
                                    <div class="alert alert-warning text-center alert-dismissible fade show" role="alert">
                                        <label><i class="bi bi-exclamation-diamond-fill"></i></label>&nbsp; {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}


                            {% endfor %}

                        {% endif %}

                    {% endblock %}
                </div>
                <!-- CONTENT -->
                <div class="container-fluid p-2 content">
                    {% block content %} {% endblock %} 
                </div>
            </div>
        </div>
    </div>

    
    <footer>
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js        "></script>
        <script src="/static/public/js/app.js"></script>
        <script>
            $(function(){
                $('[data-toggle="tooltip"').tooltip()
            })
        </script>
    </footer>

    {% block javascript %} {% endblock %}
</body>
</html>